# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/
dist/
dist-ssr/

# Arquivos temporários e configurações locais
*.local
*.env

# Editor directories e arquivos
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de backup
*.bak
*.tmp
